/** (M)                     About  Page                        */
/*t                    Mobile Version                          */

/**   --       Nav / Profile Bar  CSS for All Pages       --     */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/*s   (M)      Nav Bar     (All Pages)      */
#nav {
    /* border: 0.1rem solid white; */
    /* position: fixed; */
    background-color: black;
    /* width: 100%; */
    height: 4rem;
}

.ulCont {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.liCont {
    margin-top: 1.5rem;
}

.navBtns {
    border: 0.1rem outset white;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.navBtns:hover {
    color: white;
    background-color: grey;
}

/*s  (M)         Profile Bar   (All Pages)       */
/* #profileBar {
    background-color: black;
    width: 100%;
    height: 15rem;
} */

.profilePicCont {
    border: 1px solid green;
    border-radius: 10rem;
    background-color: lightblue;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
}

/** (M)       -----    (NO - PIC)    SetUp     ------           */
/*s       No-Pic  Nav / Profile Bar           */

#profileBar-Spec {
    background-color: black;
    /* width: 100%; */
    height: 5.5rem;
    /* margin-top: 1rem; */
}

/*s   (M)     No-Pic  Nav / Icon Links          */
.iconLinksCont-Spec {
    border: 0.1rem outset white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    width: 15rem;
    height: 3rem;
}

.iconLinksCont-Spec a {
    margin-right: 0.2rem;
}

.iconLinksCont-Spec a:hover {
    border: 0.1rem outset black;
    background-color: rgb(169, 168, 168);
    border-radius: 0.5rem;
}

/* s   (M)            Links   */
/* .iconLinksCont {
    border: 0.1rem outset white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 15rem;
    height: 3rem;
}

.iconLinksCont a:hover {
    border: 0.1rem outset black;
    background-color: rgb(169, 168, 168);
    border-radius: 0.5rem;
} */

.fa-facebook {
    color: blue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-github {
    color: black;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-twitter {
    color: lightblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-linkedin {
    color: darkblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-youtube {
    color: red;
    font-size: 32px;
    padding: 0.5rem;
}

/*s   Link Pages    */
#linkPagesCont {
    /* border: 0.1rem solid white; */
    border-radius: 0.1rem;
    background-color: black;
    height: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.linkSection1 {
    margin-top: 0.8rem;
}

.linkSection2 {
    margin-top: 1rem;
    padding: 0.1rem;
}

.linkPage {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.linkPage:hover {
    color: red;
}

/*s      Bio  Text      */
.bio_Cont {
    /* border: 0.1rem solid red; */
    border-radius: 0.5rem;
    width: 20rem;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.bioText {
    text-indent: 1.5rem;
    font-size: 18px;
}

.bioText:first-letter {
    font-size: 32px;
}

/*s       Text Lettering  (ALL-Pages)   */
.text {
    margin-top: 0.5rem;
    text-indent: 1rem;
    font-size: 18px;
}

/*t            Tablet  Screen (Min-550px / Max-749px)          */

@media only screen and (min-width: 550px) and (max-width: 899px) {
    /*s (T)   Nav   */
    /* .ulCont {
        border: 0.1rem solid blue;
    } */

    .liCont {
        /* border: 0.1rem solid blue; */

        margin: 1rem;
    }

    /*s (T)   Bio Text         */
    .bio_Cont {
        /* border: 0.1rem solid green; */
        width: 28rem;
        margin-top: 10rem;
        box-shadow: 1px 1px 5px 1px black;
    }

    .bioText {
        text-indent: 3rem;
        font-size: 20px;
    }

    .bioText:first-letter {
        font-size: 42px;
    }

    /*s (T)      Text Lettering  (ALL-Pages)   */
    .text {
        /* margin-top: 0.5rem; */
        text-indent: 3rem;
        font-size: 20px;
    }
}

/** --------------------------------------------- */
/*t            Laptop Full  Screen (Min-900px / )          */
@media only screen and (min-width: 900px) {
    /*s  (L)         Nav Bar (Top Bar)          */
    /* #nav {
        border: 0.1rem solid blue;
    } */

    /* .ulCont {
        border: 0.1rem solid blue;
    } */

    .liCont {
        /* border: 0.1rem solid blue; */

        margin-right: 3rem;
        margin-left: 3rem;
    }

    /*s   (M)     No-Pic  Nav / Icon Links          */
    .iconLinksCont-Spec {
        border: 0.1rem outset red;

        width: 30rem;
        height: 3rem;
    }

    .iconLinksCont-Spec a {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /*s   Link Pages    */

    .linkSection1 {
        display: inline-block;
        /* border: 0.1rem solid yellow; */

        margin-top: 0.8rem;
        margin-right: 5rem;
    }

    .linkSection2 {
        display: inline-block;
        /* border: 0.1rem solid orange; */
        margin-top: 0.8rem;
        margin-left: 5rem;
    }

    .linkPage {
        color: white;
        padding: 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }

    /*s (L)    Bio Text         */
    .bio_Cont {
        /* border: 0.1rem solid green; */
        width: 80%;
        margin-top: 12rem;
        box-shadow: 1px 1px 5px 1px black;
    }

    .bioText {
        text-indent: 3rem;
        font-size: 20px;
    }

    .bioText:first-letter {
        font-size: 42px;
    }

    .text {
        font-size: 20px;
    }
}
