/*t                    Mobile Version                          */

/**   --       Nav / Profile Bar  CSS for All Pages       --     */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/*s   (M)      Nav Bar     (All Pages)      */
#nav {
    /* border: 0.1rem solid white; */
    /* position: fixed; */
    background-color: black;
    /* width: 100%; */
    height: 4rem;
}

.ulCont {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.liCont {
    margin-top: 1.5rem;
}

.navBtns {
    border: 0.1rem outset white;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.navBtns:hover {
    color: white;
    background-color: grey;
}

/*s  (M)         Profile Bar   (All Pages)       */
#profileBar {
    background-color: black;
    width: 100%;
    height: 15rem;
}

.profilePicCont {
    border: 1px solid green;
    border-radius: 10rem;
    background-color: lightblue;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
}

/** (M)       -----    (NO - PIC)     CSS      ------           */
/*s       No-Pic  Nav / Profile Bar           */

#profileBar-Spec {
    background-color: black;
    /* width: 100%; */
    height: 5.5rem;
    /* margin-top: 1rem; */
}

/*s   (M)     No-Pic  Nav / Icon Links          */
.iconLinksCont-Spec {
    border: 0.1rem outset white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    width: 15rem;
    height: 3rem;
}

.iconLinksCont-Spec a {
    margin-right: 0.2rem;
}

.iconLinksCont-Spec a:hover {
    border: 0.1rem outset black;
    background-color: rgb(169, 168, 168);
    border-radius: 0.5rem;
}

/*s   (M)            Links          */
.iconLinksCont {
    border: 0.1rem outset white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 15rem;
    height: 3rem;
}

.iconLinksCont a:hover {
    /* border: 0.1rem outset black; */
    background-color: rgb(169, 168, 168);
    border-radius: 0.5rem;
}

.fa-facebook {
    color: blue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-github {
    color: black;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-twitter {
    color: lightblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-linkedin {
    color: darkblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-youtube {
    color: red;
    font-size: 32px;
    padding: 0.5rem;
}

/*s   Link Pages    */
#linkPagesCont {
    /* border: 0.1rem solid white; */
    border-radius: 0.1rem;
    background-color: black;
    height: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.linkSection1 {
    margin-top: 0.8rem;
}

.linkSection2 {
    margin-top: 1rem;
    padding: 0.1rem;
}

.linkPage {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.linkPage:hover {
    color: red;
}


/*s      Skills Container      */
.skills_Cont {
    /* border: 0.1rem solid red; */
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.249);
    width: 21rem;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 1rem;
    padding-bottom: 1px;
}

.skills_Cont h1 {
    text-align: center;
    font-size: 32px;
    padding: 1rem;
}

.card_Cont {
    border: 0.2rem inset;
    background-color: #d0d3d4;
    box-shadow: 1px 1px 10px 1px white;
    border-radius: 0.2rem;
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

.card_Cont h4 {
    background-color: #0005;
    font-size: 22px;
    height: 1.8rem;

    padding: 0.2rem;
    color: white;
}

.card_Cont li {
    display: inline-block;
    margin: 0.5rem;
}

.card_Cont p {
    height: 0;
    width: 0;
    border-left: 60px solid #0005;
    border-right: 30px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 0.5rem solid #0005;
}
