/*t                    Mobile Version                          */

/**   --       Nav / Profile Bar  CSS for All Pages       --     */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/**   (M)      Nav Bar     (All Pages)      */
#nav {
    /* border: 0.1rem solid white; */
    /* position: fixed; */
    background-color: black;
    /* width: 100%; */
    height: 4rem;
}

.ulCont {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.liCont {
    margin-top: 1.5rem;
}

.navBtns {
    border: 0.1rem outset white;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.navBtns:hover {
    color: white;
    background-color: grey;
}

/*! (M)       -----    (NO - PIC)     CSS      ------           */
/** (M)      No-Pic  Nav / Profile Bar           */

#profileBar-Spec {
    background-color: black;
    /* width: 100%; */
    height: 5.5rem;
    /* margin-top: 1rem; */
}

/**   (M)     (No-Pic)  Nav / Icon Links          */
.iconLinksCont-Spec {
    border: 0.1rem outset white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    width: 15rem;
    height: 3rem;
}

.iconLinksCont-Spec a {
    margin-right: 0.2rem;
}

.iconLinksCont-Spec a:hover {
    border: 0.1rem outset black;
    background-color: rgb(169, 168, 168);
    border-radius: 0.5rem;
}

.fa-facebook {
    color: blue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-github {
    color: black;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-twitter {
    color: lightblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-linkedin {
    color: darkblue;
    font-size: 32px;
    padding: 0.5rem;
}

.fa-youtube {
    color: red;
    font-size: 32px;
    padding: 0.5rem;
}

/** (M)     Link Pages    */
#linkPagesCont {
    /* border: 0.1rem solid white; */
    border-radius: 0.1rem;
    background-color: black;
    height: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.linkSection1 {
    margin-top: 0.8rem;
}

.linkSection2 {
    margin-top: 1rem;
    padding: 0.1rem;
}

.linkPage {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.linkPage:hover {
    color: red;
}

/*! (M)      ------    Main Container     -------     */

#main_Cont {
    /* border: 0.1rem solid red; */
    margin-top: 4.6rem;
    padding: 0.5rem;
}

/** (M)    Page Title      */
#main_Cont > h1 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 42px;
    text-shadow: 1px 1px 1px white;
}

/** (M)  section Title    */
#center > h2 {
    text-align: center;
    margin-top: 0.5rem;
}

/*? (M)          Special setting          */
#center {
    display: block;
    /* border: 0.1rem solid black; */
    border-radius: 0.3rem;
    height: 10rem;
    text-align: center;
    margin: 1rem;
    padding: 0.1rem;
    box-shadow: 1px 1px 10px #0005;
}

/** (M)    Links      (All) */
#center a {
    display: inline-block;
    margin-top: 0.2rem;
    color: lightblue;
    text-decoration: none;
    padding: 0.2rem;
}

/** (M)  Items  Hover   */
#center a:hover {
    color: green;
}

/** (M)  Container    */
#index_Cont {
    display: block;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    background-color: white;
    margin-top: 1.5rem;
    /* width: "10px"; */
    /* height: "30rem"; */
}

.items_Cont {
    border: 0.1rem solid white;
    border-radius: 0.3rem;
    background-color: white;

    /* width: "1rem"; */
    /* height: "30rem"; */
    margin: 0.5rem;
    box-shadow: 1px 1px 10px black;
}

/** (M)  section Title    */
.items_Cont > h2 {
    text-align: center;
    margin-top: 0.5rem;
}

.items_Cont h2 a {
    color: black;
    text-decoration: none;
}

.items_Cont h2 a:hover {
    color: red;
    text-decoration: underline;
}

.items_Cont #center h2 a {
    color: black;
    text-decoration: none;
}

.items_Cont #center h2 a:hover {
    color: red;
    text-decoration: underline;
}

/** (M)    Cards    (All)  */
.items {
    /* border: 0.1rem solid black; */
    border-radius: 0.3rem;
    /* width: 18rem; */
    height: 6rem;
    text-align: center;
    margin: 1rem;
    padding: 0.1rem;
    box-shadow: 1px 1px 10px #0005;
}

/* * (M)  Card Title    (All) */
/* .items > h2 {
    text-align: center;
    margin-bottom: 1rem;
} */

/** (M)    Links      (All) */
.items > a {
    display: inline-block;
    margin-top: 0.5rem;
    color: lightblue;
    text-decoration: none;
    padding: 0.2rem;
}

/** (M)  Items  Hover   */
.items a:hover {
    color: green;
}

/** (M) Card Project Title */
#projectTitle {
    /* margin-bottom: 2rem; */
    font-weight: bold;
    color: blue;
}

#projectTitle:hover {
    font-weight: bold;
    text-decoration: underline;
}

/*t (T)          Tablet  Screen (Min-550px / Max-899px)              */
@media only screen and (min-width: 550px) and (max-width: 899px) {
    /** (T)     Nav    */
    .liCont {
        /* border: 0.1rem solid blue; */

        margin: 1rem;
    }
}

/*t            Laptop Full  Screen (Min-900px / )          */
@media only screen and (min-width: 900px) {
    /**  (L)      (No-Pic)   Nav Bar (Top Bar)          */
    .liCont {
        /* border: 0.1rem solid blue; */
        margin-right: 3rem;
        margin-left: 3rem;
    }

    /**(L)     No-Pic  Nav / Icon Links          */
    .iconLinksCont-Spec {
        /* border: 0.1rem outset red; */

        width: 30rem;
        height: 3rem;
    }

    .iconLinksCont-Spec a {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /**(L)     Link Pages      */

    .linkSection1 {
        display: inline-block;
        /* border: 0.1rem solid yellow; */

        margin-top: 0.8rem;
        margin-right: 5rem;
    }

    .linkSection2 {
        display: inline-block;
        /* border: 0.1rem solid orange; */
        margin-top: 0.8rem;
        margin-left: 5rem;
    }

    .linkPage {
        color: white;
        padding: 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }

    /** (L)    Items Cont    */
    #index_Cont {
        border: 1px solid blue;

        width: 80%;
        /* height: "30rem"; */
        margin: 0 auto;
        /* box-shadow: 1px 1px 10px black; */
    }

    .items_Cont {
        width: 85%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}
