<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/transcripts.css" />

        <title>Transcripts 1 & 2</title>
    </head>
    <body>
        <nav class="nav_Cont">
            <ul>
                <li><a href="../html/studied.html">Go Back</a></li>
                <li><a href="#page1">Page 1</a></li>
                <li><a href="#page2">Page 2</a></li>
            </ul>
        </nav>

        <section class="pageTitle_Cont">
            <h1>Degree & Award</h1>
        </section>

        <main>
            <section id="page1" class="Container">
                <img
                    src="../images/education/AssociatesDegree.jpeg"
                    alt="Degree Picture"
                    title="Degree Certificate"
                />
            </section>

            <section id="page2" class="Container">
                <img
                    src="../images/education/ValedictorianAward.jpeg"
                    alt="Award Picture"
                    title="Award Certificate"
                />
            </section>
        </main>
    </body>
</html>
